ul#slideshow {
    position:relative;
    list-style-type: none;
    min-height: 150px;
}
ul#slideshow li {
    position:absolute;
    top:0;
    left:0;
    visibility: hidden;
}
ul#slideshow li.active {
    visibility: visible;
}
